.newsletter {
  padding: 50px 0 0;
  @media screen and (min-width: 768px) {
    padding: 75px 0 0;
  }
  .newsletter-content {
    display: flex;
    gap: 10px;
    padding: 75px 0;
    border-top: 1px solid var(--background-light);
    input {
      width: 100%;
      background: none;
      border: none;
      border-bottom: 1px solid var(--foreground);
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: var(--foreground);
      }
    }
  }
}
